@{
    ViewBag.Title = "NaZycie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NaZycie</h2>
<div>

    Indywidualne terminowe ubezpieczenie na życie
    Indywidualne Terminowe Ubezpieczenie na Życie dba o bezpieczeństwo finansowe Twoich bliskich. Nie martw się o ich los - gdyby zabrakło im Ciebie, nie zabraknie im środków do życia.
    Ubezpieczenie to jest niezwykle atrakcyjną ofertą - za niewielką składkę uzyskuje się duże sumy ubezpieczenia.
    Ubezpieczony może rozszerzyć zakres ochrony o umowy dodatkowe:
    Ubezpieczenie na wypadek wystąpienia ciężkiej choroby
    Ubezpieczenie na wypadek pobytu w szpitalu
    Ubezpieczenia na wypadek operacji chirurgicznych
    Ubezpieczenie na wypadek trwałego kalectwa spowodowanego nieszczęśliwym wypadkiem
    Ubezpieczenie na wypadek śmierci w skutek nieszczęśliwego wypadku
    Ubezpieczenie na wypadek braku możliwości opłacania składki przez ubezpieczonego na skutek trwałej niezdolności do pracy
   

</div>
<li>@Html.ActionLink("Kup Online", "Create", "NaZycie")</li>