@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    O nas
    Grupa SIGNAL IDUNA jest jedną z największych instytucji finansowo-ubezpieczeniowych na rynku niemieckim, świadczącą usługi klientom prywatnym i korporacyjnym od ponad 100 lat.
    Siła Koncernu oparta jest na kompleksowości oferty ubezpieczeniowej, a także świadczeniu usług bankowych i dodatkowych (assistance). Obecnie na sukces grupy pracuje 16 towarzystw ubezpieczeniowych i cztery spółki finansowe w Niemczech. Firma prężnie rozwija się również w Polsce, w Rumunii, na Węgrzech i w Szwajcarii.
</article>

