@{
    ViewBag.Title = "Oferta";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>

        </div>
    </section>
}
<h3>Nasze Ubezpieczenia: </h3>
<ol class="round">
    <li class="one">

        @Html.ActionLink("Ubezpieczenia na życie", "NaZycie", "Ubezpieczenia")<br />

        


    </li>

    <li class="two">

        @Html.ActionLink("Ubezpieczenia turystyczne", "Turystyczne", "Ubezpieczenia")<br />

    </li>

    <li class="three">

        @Html.ActionLink("Ubezpieczenia zdrowotne", "Zdrowotne", "Ubezpieczenia")<br />

    </li>
</ol>
